@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .trash-icon:hover {
        fill: red;
    }

    .edit-icon:hover {
        fill: limegreen;
    }

    .news-icon:hover {
        color: dodgerblue;
    }

}

/* Loader animation for infinite scrolling */
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

